
server:
  port: 8080
  
  
spring:
  application:
    name: user-service
  cloud:
    config:
      enabled: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: toor
    url: jdbc:mysql://localhost:3306/microservice
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

